[submodule "powerline"]
path = powerline
url = https://github.com/powerline/powerline.git
[submodule "powerlevel10k"]
path = powerlevel10k
url = https://github.com/romkatv/powerlevel10k
[submodule "ohmyzsh"]
path = ohmyzsh
url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "custom-zsh"]
path = custom-zsh
url = https://github.com/Luxcium/custom-zsh.git
[submodule "custom-tmux"]
path = custom-tmux
url = https://github.com/Luxcium/custom-tmux.git
[submodule "python-repl"]
path = python-repl
url = https://github.com/Luxcium/python-repl.git
[submodule "node-repl"]
path = node-repl
url = https://github.com/Luxcium/node-repl.git
